@charset "UTF-8";

html, body {
    height: 100%; 
    margin:0;
} 

body {
    background-color: #C1C0BE;
    background-size: cover; 
}

.container {
    max-width: 100%;
}

/* ------------------------------------------------------------------
                    header styling
-----------------------------------------------------------------------*/ 
.header {
    position: sticky;
    top: 0;
    font-family: 'Charm', cursive;
    font-size: 15px;   
    width: 100%; 
    position: relative;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(51, 51, 51, 0.6);
    border-radius: 5px;
}

.header li {
    float: right;
}

.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
}

.header li a:hover {
    background-color: #000000;
}

img {
    float: right;
    width: 32%;
    height: 10%;
}
/* ------------------------------------------------------------------
                    main styling
-----------------------------------------------------------------------*/ 
.about {
    background-color: rgba(247, 242, 242, 0.4);
    font-family: 'Charm', cursive;   
    max-width: 100%;
    width: 50%;
    height: auto;
    margin: 4%;
    margin-left: 10%;
    border-radius: 8px;
    padding: 2%;

}

.about h2 {
    max-width: 100%;
    font-size: 25px;
    text-align: center;
    color: #000000;
}

.about p {
    max-width: 100%;
    font-size: 15px;
    font-family: 'Laila', serif;
}

/* ------------------------------------------------------------------
                   footer styling
-----------------------------------------------------------------------*/ 
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2em;
    text-align: right;
    color: white; 
     
}

@media (max-width: 600px)
{
    img {
        width: 32%;
        height: 100%;
    }
}
